# Regression Analysis on Student Grades

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import psycopg2
import sqlalchemy as sql

## Import data to SQL

In [40]:
do_sql = sql.create_engine('postgresql://postgres:password@localhost:5432/postgres')
try:
    df = pd.read_csv('data.csv', sep=';')
except:
    print('SQL import: file not found')
else:
    with do_sql.begin() as connection:
        df.to_sql("students", con=connection, index=False, if_exists='replace')

df.shape

(316, 33)

## Add Student Function

In [ ]:
# Sample new student object
# This is passed as the argument to the add_student function

new_student = {             # Valid values
    'school': 'GP',         # 'GP' or 'MS'
    'sex': 'M',             # 'M' or 'F'
    'age': 24,          
    'address': 'U',         # 'U' or 'R'
    'famsize': 'LE3',       # 'LE3' or 'GT3'
    'Pstatus': 'A',         # 'T' or 'A'
    'Medu': 3,              # 0 to 4
    'Fedu': 2,              # 0 to 4
    'Mjob': 'at_home',      # 'teacher', 'health', 'services', 'at_home', 'other'
    'Fjob': 'other',        # 'teacher', 'health', 'services', 'at_home', 'other'
    'reason': 'course',     # 'home', 'reputation', 'course', 'other'
    'guardian': 'father',   # 'mother', 'father', 'other'
    'traveltime': 3,        # 1 to 4
    'studytime': 2,         # 1 to 4
    'failures': 0,          # 1 to 4
    'schoolsup': 'no',      
    'famsup': 'yes',
    'paid': 'no',
    'activities': 'yes',
    'nursery': 'yes',
    'higher': 'yes',
    'internet': 'yes',
    'romantic': 'yes',
    'famrel': 3,            # 1 to 5
    'freetime': 2,          # 1 to 5
    'goout': 2,             # 1 to 5
    'Dalc': 1,              # 1 to 5
    'Walc': 1,              # 1 to 5
    'health': 4,            # 1 to 5
    'absences': 1,          # 1 to 5
    'G1': 17,               # 0 to 20
    'G2': 18,               # 0 to 20
    'G3': 18                # 0 to 20
}

# columns = tuple(x for x in new_student.keys())
# values = tuple(y for y in new_student.values())

In [37]:

def add_student(new_student):
    # Open connection to database and instantiate cursor
    conn = psycopg2.connect(dbname = 'postgres',
                            user = 'postgres',
                            password = 'password',
                            host = 'localhost',
                            port = '5432')
    cursor = conn.cursor()

    try:
        # Insert statement inserts one comma-separated parameterized placeholder for every key in new_student object (column in database)
        insert_statement = f"""
        INSERT INTO students 
        VALUES ({', '.join((['%s']*len(new_student)))})
        """
        # Send insert statement; commit changes
        cursor.execute(insert_statement, list(new_student.values()))
        conn.commit()
    except (Exception, psycopg2.Error) as error:
        print("Error adding new student data:", error)
    finally:
        if conn:
            cursor.close()
            conn.close()

# add_student(new_student)

## Read up-to-date table from database for analysis

In [41]:
conn = psycopg2.connect(dbname = 'postgres',
                        user = 'postgres',
                        password = 'password',
                        host = 'localhost',
                        port = '5432')
cursor = conn.cursor()

select_query = "SELECT * FROM students"
cursor.execute(select_query)

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

df = pd.DataFrame(rows, columns=columns)

cursor.close()
conn.close()

print(df.head())

# Check for null or duplicate entries
print('Total null entries:', df.isnull().sum().sum())
print(df.duplicated().value_counts())

# # If found:
# df = df.dropna().reset_index(drop=True)
# df = df.drop_duplicates(inplace=True)

df.shape

  school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0     GP   F   16       U     LE3       T     4     3   teacher  services
1     GP   M   18       U     LE3       T     1     1     other     other
2     GP   M   17       R     LE3       A     4     4   teacher     other
3     GP   F   15       U     LE3       T     3     2  services     other
4     GP   M   16       U     GT3       T     2     3     other     other

   ... famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0  ...      5        4      3     1     2      1        2  16  15  15
1  ...      2        3      5     2     5      4        0   6   5   0
2  ...      3        3      3     2     3      4        2  10  11  12
3  ...      4        4      4     1     1      5       10   7   6   6
4  ...      5        3      3     1     1      3        0  13  14  14

[5 rows x 33 columns]
Total null entries: 0
False    316
Name: count, dtype: int64

(316, 33)

## EDA

In [42]:
# Show info about each column: order, name, count, nulls, datatype
print(df.info())

# # Display stats of numeric columns - count, mean, std, etc.
# print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 316 entries, 0 to 315
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      316 non-null    object
 1   sex         316 non-null    object
 2   age         316 non-null    int64
 3   address     316 non-null    object
 4   famsize     316 non-null    object
 5   Pstatus     316 non-null    object
 6   Medu        316 non-null    int64
 7   Fedu        316 non-null    int64
 8   Mjob        316 non-null    object
 9   Fjob        316 non-null    object
 10  reason      316 non-null    object
 11  guardian    316 non-null    object
 12  traveltime  316 non-null    int64
 13  studytime   316 non-null    int64
 14  failures    316 non-null    int64
 15  schoolsup   316 non-null    object
 16  famsup      316 non-null    object
 17  paid        316 non-null    object
 18  activities  316 non-null    object
 19  nursery     316 non-null    object
 20  higher      316 non-null    object
 21  internet    316 non-null    object
 22  romantic    316 non-null    object
 23  famrel      316 non-null    int64
 24  freetime    316 non-null    int64
 25  goout       316 non-null    int64
 26  Dalc        316 non-null    int64
 27  Walc        316 non-null    int64
 28  health      316 non-null    int64
 29  absences    316 non-null    int64
 30  G1          316 non-null    int64
 31  G2          316 non-null    int64
 32  G3          316 non-null    int64
dtypes: int64(16), object(17)
memory usage: 81.6+ KB
None

In [ ]:
# Try one-hotting every nominal column. Should total 58 dimensions

# Generate one-hot columns of every "object" column (nominal values)
df_dummies = pd.get_dummies(df.select_dtypes(include='object'))

# Join new columns to dataset
df = pd.concat([df, df_dummies], axis=1)

# Drop original "object" columns
df = df.drop(df.select_dtypes(include='object').columns, axis=1)

In [ ]:
print(df.shape)
df.info()

(316, 59)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 316 entries, 0 to 315
Data columns (total 59 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   age                316 non-null    int64
 1   Medu               316 non-null    int64
 2   Fedu               316 non-null    int64
 3   traveltime         316 non-null    int64
 4   studytime          316 non-null    int64
 5   failures           316 non-null    int64
 6   famrel             316 non-null    int64
 7   freetime           316 non-null    int64
 8   goout              316 non-null    int64
 9   Dalc               316 non-null    int64
 10  Walc               316 non-null    int64
 11  health             316 non-null    int64
 12  absences           316 non-null    int64
 13  G1                 316 non-null    int64
 14  G2                 316 non-null    int64
 15  G3                 316 non-null    int64
 16  school_GP          316 non-null    bool
 17  school_MS          316 non-null    bool
 18  sex_F              316 non-null    bool
 19  sex_M              316 non-null    bool
 20  address_R          316 non-null    bool
 21  address_U          316 non-null    bool
 22  famsize_GT3        316 non-null    bool
 23  famsize_LE3        316 non-null    bool
 24  Pstatus_A          316 non-null    bool
 25  Pstatus_T          316 non-null    bool
 26  Mjob_at_home       316 non-null    bool
 27  Mjob_health        316 non-null    bool
 28  Mjob_other         316 non-null    bool
 29  Mjob_services      316 non-null    bool
 30  Mjob_teacher       316 non-null    bool
 31  Fjob_at_home       316 non-null    bool
 32  Fjob_health        316 non-null    bool
 33  Fjob_other         316 non-null    bool
 34  Fjob_services      316 non-null    bool
 35  Fjob_teacher       316 non-null    bool
 36  reason_course      316 non-null    bool
 37  reason_home        316 non-null    bool
 38  reason_other       316 non-null    bool
 39  reason_reputation  316 non-null    bool
 40  guardian_father    316 non-null    bool
 41  guardian_mother    316 non-null    bool
 42  guardian_other     316 non-null    bool
 43  schoolsup_no       316 non-null    bool
 44  schoolsup_yes      316 non-null    bool
 45  famsup_no          316 non-null    bool
 46  famsup_yes         316 non-null    bool
 47  paid_no            316 non-null    bool
 48  paid_yes           316 non-null    bool
 49  activities_no      316 non-null    bool
 50  activities_yes     316 non-null    bool
 51  nursery_no         316 non-null    bool
 52  nursery_yes        316 non-null    bool
 53  higher_no          316 non-null    bool
 54  higher_yes         316 non-null    bool
 55  internet_no        316 non-null    bool
 56  internet_yes       316 non-null    bool
 57  romantic_no        316 non-null    bool
 58  romantic_yes       316 non-null    bool
dtypes: bool(43), int64(16)
memory usage: 52.9 KB

In [ ]:
corr_matrix = df.corr()
# plt.figure(figsize=(20,20))
# sns.heatmap(corr_matrix, cmap='coolwarm', annot=True, fmt=".2f") 
# plt.show()
# corr_matrix

result = corr_matrix[(corr_matrix.abs() > 0.5) & (corr_matrix.abs() < 1)].stack()

result_df = result.reset_index()
result_df.columns = ['Row', 'Column', 'Value']

result_df

                Row           Column     Value
0              Medu             Fedu  0.610685
1              Fedu             Medu  0.610685
2              Dalc             Walc  0.649514
3              Walc             Dalc  0.649514
4                G1               G2  0.838290
5                G1               G3  0.788582
6                G2               G1  0.838290
7                G2               G3  0.895996
8                G3               G1  0.788582
9                G3               G2  0.895996
10      famsize_GT3      famsize_LE3 -1.000000
11      famsize_LE3      famsize_GT3 -1.000000
12       Fjob_other    Fjob_services -0.681232
13    Fjob_services       Fjob_other -0.681232
14  guardian_father  guardian_mother -0.791174
15  guardian_mother  guardian_father -0.791174
16       nursery_no      nursery_yes -1.000000
17      nursery_yes       nursery_no -1.000000